<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="/fragments/header :: head">
</head>

<body>
	<header th:replace="/fragments/header :: navbar"></header>
	<main class="mt-5 pt-4">
		<div class="container">
			<section>
				<div class="row">
					<label class="col-sm-2 control-label">Mua vé thành công,
						kiểm tra giao dịch tại đây:</label> <a th:href="${etherscan}">link</a>
				</div>
			</section>
		</div>
	</main>
	<footer th:replace="/fragments/footer :: footer"></footer>

	<div th:replace="/fragments/footer :: script"></div>

</body>

</html>